In [3]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.422093
   2    1.599617
   3    1.352715
b  1   -0.204514
   2    0.243125
c  3    1.639376
   1    0.297738
d  2   -1.139387
   3    0.177674
dtype: float64

In [5]:
data.unstack()

          1         2         3
a -0.422093  1.599617  1.352715
b -0.204514  0.243125       NaN
c  0.297738       NaN  1.639376
d       NaN -1.139387  0.177674

In [4]:
data['a']

1   -0.422093
2    1.599617
3    1.352715
dtype: float64

In [6]:
data.index.names = ['分類','數值']
data

分類  數值
a   1    -0.422093
    2     1.599617
    3     1.352715
b   1    -0.204514
    2     0.243125
c   3     1.639376
    1     0.297738
d   2    -1.139387
    3     0.177674
dtype: float64

In [9]:
data.unstack(level='分類')

分類         a         b         c         d
數值
1  -0.422093 -0.204514  0.297738       NaN
2   1.599617  0.243125       NaN -1.139387
3   1.352715       NaN  1.639376  0.177674

In [11]:
data.stack:('分類')